@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.header {
    background: url("http://localhost:3000/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 200px;
    width: 100%;
    z-index: -1;
}
h1 {
  text-align: center;
  color: white;
}
h2 {
  text-align: center;
  color: black;
}
.user-input {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
::placeholder {
  font-weight: bolder;
  padding-left: 5px;
  font-style: italic;
}
input[type=text] {
  width: 800px;
  outline: none;
  height: 35px;
  border: solid 2px dodgerblue;
  border-radius: 5px;
  outline: none;

}
button[type=submit] {
  height: 35px;
  margin-left: -60px;
  background-color: dodgerblue;
  border-radius: 0px 5px 5px 0px; 
  color: white;
  font-weight: bolder;
  font-size: 16px;
  outline: none;
  border-style: none;
  cursor: pointer;
}
button[type=submit]:hover {
  background-color: black;
}
ul {
  color: black;
  margin-top: 80px;
}
span{
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: dodgerblue;
}
img {
  width: 30%;
  height: 25%;
  margin: 50px auto
}